
    <h1>CS103a App</h1>
    <p class="text-secondary">Modified by Ruihao Shen</p>
    <p class="text-success">Welcome to the App</p>
    <!-- Here we show how to encode a URI and get weather data -->
    <% address = encodeURI("152 Aspinwall Ave, Brookline MA, 02446") %>
    <a href="https://geocoding.geo.census.gov/geocoder/locations/onelineaddress?address=<%= address %>&benchmark=2020&format=json"> 
        get weather</a>
        <br>

  
    
  
